<div id="wrapper">
  <div class="animated-background">
    <section class="section">
      <div class="container main-page-content">
        <h1>Добавить студента</h1>
        <%= render 'form', student: @student %>
        <%= link_to 'Назад', students_path %>
      </div>
    </section>
  </div>
</div>