<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Добро пожаловать, <%= account_username %>
      </h1>
      <h2 class="subtitle">
        Посмотрите краткий туториал по использованию!
      </h2>
    </div>
  </div>
</section>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="subtitle">Используйте этот токен для работы:</h1>
      <div class="field has-addons">
        <div class="control" id="token-input">
          <input class="input" type="text" readonly="readonly" value="<%= current_user.token %>">
        </div>
        <div class="control">
          <%= link_to 'Создать новый', regenerate_token_path, class: "button is-info", remote: true  %>
        </div>
      </div>
    </div>
  </div>
</section>