<header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          My App
        </div>
      </div>
      <div class="level-right">
      </div>
    </nav>
  </div>
</header>
<section class="section">
  <div class="container">
    <div class="title">Название</div>
    <div class="subtitle">Сабтайтл</div>
  </div>
  <div class="columns">
  <div class="column">
    First column
  </div>
  <div class="column">
    Second column
  </div>
  <div class="column">
    Third column
  </div>
  <div class="column">
    Fourth column
  </div>
</div>
</section>
<footer class="footer">
  <div class="container">
    Copyright © 2019 MyApp. All rights reserved.
  </div>
</footer>